## Importing all the packages

In [26]:
import pandas as pd
import numpy as np

In [27]:
from dictionary import col_name
from my_func import mutliple_choice

## Some display settings

In [28]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199
pd.set_option('display.max_rows', None)

C:\Users\A0072743\AppData\Local\Temp\ipykernel_25848\3403403393.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)  # or 199

## Reading and cleaning data

In [29]:
df_form = pd.read_excel('MAESAM Form.xlsx', sheet_name = 1) #This is the form.

In [30]:
main = mutliple_choice (pd.read_excel('export_data_2.xlsx', sheet_name = 0), ['site_summary/site_cultural_periods'])
# main = mutliple_choice(df, ['site_summary/site_cultural_periods'])
main

C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new.rename(columns={"variable":name}, inplace=True)
C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new[name] = df_melted_new[name].str.replace(n + '/','')

,start,end,today,_INTRODUCTION,recorder_info/institution_name,recorder_info/recorder_name,recorder_info/other_recorder,recorder_info/Recorder_role_type,existing_reference,site_source,associated_id_name_group/associated_id_name,associated_id_name_group/associated_id_value,pre_site_id,pre_grid_id,pre_maeasam_id,pre_diameter,pre_area,pre_type,pre_probability,pre_elevation,pre_notes,pre_name,preloaded_summary,transects_undertaken,transects_summary/overall_site_visibility,transects_summary/overall_site_density,transects_summary/transect_notes,transects_summary/transect_interval,transects_summary/unit_interval,transects_summary/sc_unit_measurement_type,transects_summary/sc_unit_measurement_value,transects_summary/transect_method,heritage_resource_classification,non_archaeological_site/nf_group_start,non_archaeological_site/natural_feature_type,non_archaeological_site/natural_feature_coordinates,non_archaeological_site/_natural_feature_coordinates_latitude,non_archaeological_site/_natural_feature_coordinates_longitude,non_archaeological_site/_natural_feature_coordinates_altitude,non_archaeological_site/_natural_feature_coordinates_precision,non_archaeological_site/gps_accuracy_natural,non_archaeological_site/coor_latitude_site_natural,non_archaeological_site/coor_longitude_site_natural,non_archaeological_site/coor_elevation_site_natural,non_archaeological_site/accuracy_site_natural,non_archaeological_site/natural_feature_note,non_archaeological_site/nf_group_end,site_summary/site_description,site_summary/site_type_summary,site_summary/other_site_type_summary,site_summary/verification_status,site_summary/status,site_location_information/site_location_group_start,site_location_information/site_geometry_coordinates,site_location_information/_site_geometry_coordinates_latitude,site_location_information/_site_geometry_coordinates_longitude,site_location_information/_site_geometry_coordinates_altitude,site_location_information/_site_geometry_coordinates_precision,site_location_information/gps_accuracy_001,site_location_information/coor_latitude_site,site_location_information/coor_longitude_site,site_location_information/coor_elevation_site,site_location_information/accuracy_site,site_location_information/site_extent_type,site_location_information/site_extent_line,site_location_information/site_extent_polygon,site_location_information/village_name_near,site_location_information/site_location_comments,site_location_information/site_location_group_end,site_condition_information/site_overall_condition,site_condition_information/date_condition_assessment,environmental_information/environment_description,environmental_information/land_cover_use,environmental_information/other_land_cover_use,general_comment,__version__,meta/instanceID,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes,site_cultural_periods
0,2022-05-09 09:40:53.720,2022-05-09 09:50:53.387,44690,NaN,national_museums_of_kenya,ken1,NaN,Technician,NaN,newly_recorded_site/built_heritage,Sefv123$,1234fhhh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,archaeological_site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rfghh,complex_site,NaN,NaN,site_patrimoine_mondial,1,-26.1725174 27.9928245 1417.300048828125 116.0999984741211,-26.172517,27.992825,1417.300049,116.099998,NaN,25.88563,30.969889,900.58,25.0,polygon,NaN,-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.1725297 27.9929164 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17067799864219 27.99272485077381 0.0 0.0;-26.17116546376584 27.992303743958473 0.0 0.0;-26.17116546376584 27.992303743958473 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0,Kiala,Srrgj,1,intact,44690,Dxc,anthropic landscape,NaN,Kiala,vPreoGenSBzNDY7LZaRryP,uuid:d13c390a-2d38-426c-9196-d61aed31ed07,155992061,d13c390a-2d38-426c-9196-d61aed31ed07,2022-05-09 07:51:19,1,NaN,-1,NaN,NaN,early_stone_age_(southern_africa)
1,2022-05-09 09:40:53.720,2022-05-09 09:50:53.387,44690,NaN,national_museums_of_kenya,ken1,NaN,Technician,NaN,newly_recorded_site/built_heritage,Sefv123$,1234fhhh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,archaeological_site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rfghh,complex_site,NaN,NaN,site_patrimoine_mondial,1,-26.1725174 27.9928245 1417.300048828125 116.0999984741211,-26.172517,27.992825,1417.300049,116.099998,NaN,25.88563,30.969889,900.58,25.0,polygon,NaN,-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0;-26.1725297 27.9929164 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17132012820015 27.993663288652897 0.0 0.0;-26.17067799864219 27.99272485077381 0.0 0.0;-26.17116546376584 27.992303743958473 0.0 0.0;-26.17116546376584 27.992303743958473 0.0 0.0;-26.171090538703467 27.991527915000916 0.0 0.0,Kiala,Srrgj,1,intact,44690,Dxc,anthropic landscape,NaN,Kiala,vPreoGenSBzNDY7LZaRryP,uuid:d13c390a-2d38-426c-9196-d61aed31ed07,155992061,d13c390a-2d38-426c-9196-d61aed31ed07,2022-05-09 07:51:19,1,NaN,-1,NaN,NaN,moloko
2,2022-05-09 09:51:34.507,2022-05-09 10:07:44.533,44690,NaN,national_museums_of_kenya,ken1,NaN,Technician,NaN,newly_recorded_site/built_heritage,Sdff,Ssf1233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,high,high_greater_than_80%,Kiala,28.0,50.0,area,28.0,parallel_transect,archaeological_site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rfg,historical_building,NaN,NaN,site_patrimoine_mondial,1,-26.1725284 27.9927874 1702.9000244140625 3.9000000953674316,-26.172528,27.992787,1702.900024,3.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dyg,Dghhio,1,moderately_destroyed_(+50%),44690,NaN,arid,NaN,Dxjkbvdgkncxv,vPreoGenSBzNDY7LZaRryP,uuid:d384cec1-e97c-416c-9cb3-0de743978f61,155994505,d384cec1-e97c-416c-9cb3-0de743978f61,2022-05-09 08:10:00,2,NaN,-1,NaN,NaN,later_stone_age_(southern_africa)

In [31]:
descriptive_type_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 1) # no multiple choice columns; parent table: main
descriptive_type_repeat

,descriptive_type_repeat/descriptive_type_group/descriptive_type,descriptive_type_repeat/descriptive_type_group/descriptive_type_certainty,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,administrative_(1),low,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,anthill_burial,low,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [32]:
functions_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 2) # no multiple choice columns; parent table: main
functions_repeat

,functions_repeat/function_group/function,functions_repeat/function_group/function_certainty,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,isolated_find_,medium,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,battlefield,low,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
2,administrative_(1),low,NaN,NaN,NaN,3,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
3,agriculture_and_subsistence,low,NaN,NaN,NaN,4,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
4,alluvial_deposit,high,NaN,NaN,NaN,5,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [33]:
landowner_repeat_group = pd.read_excel('export_data_2.xlsx', sheet_name = 3) # no multiple choice columns; parent table: main
landowner_repeat_group

,landowner_repeat_group/landowner_group/landowner_name,landowner_repeat_group/landowner_group/landowner_contact,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,Kiala,17896996,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,Zime,2500936,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
2,Kiala,1288669,NaN,NaN,NaN,3,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN
3,Kiala,188669,NaN,NaN,NaN,4,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [34]:
natural_feature_photos_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 4) # no multiple choice columns; parent table: main
natural_feature_photos_repeat

Empty DataFrame
Columns: [natural_feature_photos_repeat/natural_feature_photo, _id, _uuid, _submission_time, _index, _parent_table_name, _parent_index, _tags, _notes]
Index: []

In [35]:
site_name_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 5)  # no multiple choice columns; parent table: main
site_name_repeat

,site_name_repeat/name_site_group/name_value,site_name_repeat/name_site_group/name_type,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,Serge,official,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,Kiala,primaire,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
2,Kiala,official,NaN,NaN,NaN,3,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
3,Kiala,primaire,NaN,NaN,NaN,4,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [36]:
site_photo_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 6) # no multiple choice columns; parent table: main
site_photo_repeat

,site_photos_repeat/site_photo,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,1652082286398.jpg,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,1652082296300.jpg,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
2,1652083545222.jpg,NaN,NaN,NaN,3,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN
3,1652083556249.jpg,NaN,NaN,NaN,4,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [37]:
site_sketch_map_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 7) # no multiple choice columns; parent table: main
site_name_repeat

,site_name_repeat/name_site_group/name_value,site_name_repeat/name_site_group/name_type,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,Serge,official,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,Kiala,primaire,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
2,Kiala,official,NaN,NaN,NaN,3,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
3,Kiala,primaire,NaN,NaN,NaN,4,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [38]:
threat_type_repeat = pd.read_excel('export_data_2.xlsx', sheet_name = 8) # no multiple choice columns; parent table: main
threat_type_repeat

,threat_type_repeat/potential_threats/threat_type,threat_type_repeat/potential_threats/threat_severity,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,biodeterioration,medium,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
1,bushfire,medium,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
2,antbears,high,NaN,NaN,NaN,3,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN
3,displacement_of_people,medium,NaN,NaN,NaN,4,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [39]:
threat_type_repeat_potential_th = pd.read_excel('export_data_2.xlsx', sheet_name = 9) #no multiple choice columns; parent table: threat_type_repeat
threat_type_repeat_potential_th

,threat_type_repeat/potential_threats/threats_photo/condition_photo,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,1652082492599.jpg,NaN,NaN,NaN,1,threat_type_repeat,1,NaN,NaN
1,1652082510893.jpg,NaN,NaN,NaN,2,threat_type_repeat,1,NaN,NaN
2,1652082565128.jpg,NaN,NaN,NaN,3,threat_type_repeat,2,NaN,NaN
3,1652082594813.jpg,NaN,NaN,NaN,4,threat_type_repeat,3,NaN,NaN
4,1652082604769.jpg,NaN,NaN,NaN,5,threat_type_repeat,3,NaN,NaN
5,1652082613988.jpg,NaN,NaN,NaN,6,threat_type_repeat,3,NaN,NaN
6,1652083620148.jpg,NaN,NaN,NaN,7,threat_type_repeat,4,NaN,NaN
7,1652083632761.jpg,NaN,NaN,NaN,8,threat_type_repeat,4,NaN,NaN

In [40]:
transects = pd.read_excel('export_data_2.xlsx', sheet_name = 10) # #no multiple choice columns; parent table: main
transects

,transects/transect_direction,transects/transect_direction_info/transect_direction_other,transects/transect_direction_info/transect_id,transects/transects_group/repeat_count,transects/transects_group/unit_count,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,NS,NaN,1,2,2,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN
1,EW,NaN,1,1,1,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [41]:
transects_summary_transect_phot = pd.read_excel('export_data_2.xlsx', sheet_name = 11)
transects_summary_transect_phot# #no multiple choice columns; parent table: main

,transects_summary/transect_photos_repeat/transect_photo,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,1652082725038.jpg,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN
1,1652082737078.jpg,NaN,NaN,NaN,2,anyCuBvPsDaVQx9dX34kKx,2,NaN,NaN

In [42]:
transects_transects_group_unit = mutliple_choice(pd.read_excel('export_data_2.xlsx', sheet_name = 12), ['transects/transects_group/unit/unit_cultural_periods',
'transects/transects_group/unit/surface_material_type','transects/transects_group/unit/associated_materials_features']) #no multiple choice columns; parent table: transects
transects_transects_group_unit.head(10)

C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new.rename(columns={"variable":name}, inplace=True)
C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new[name] = df_melted_new[name].str.replace(n + '/','')
C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new.rename(columns={"variable":name}, inplace=True)
C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new[name] = df_melted_new[name].str.replace(n + '/','')
C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new.rename(columns={"variable":name}, inplace=True)
C:\Users\A0072743\OneDrive - University of Witwatersrand\Documents\ODK\ODK_automation\my_func.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melted_new[name] = df_melted_new[name].str.replace(n + '/','')

,transects/transects_group/unit/unit_help,transects/transects_group/unit/units_count,transects/transects_group/unit/unit_type,transects/transects_group/unit/unit_location,transects/transects_group/unit/_unit_location_latitude,transects/transects_group/unit/_unit_location_longitude,transects/transects_group/unit/_unit_location_altitude,transects/transects_group/unit/_unit_location_precision,transects/transects_group/unit/gps_accuracy,transects/transects_group/unit/coor_latitude,transects/transects_group/unit/coor_longitude,transects/transects_group/unit/coor_elevation_unit,transects/transects_group/unit/accuracy,transects/transects_group/unit/unit_id_cal,transects/transects_group/unit/unit_id,transects/transects_group/unit/surface_artefacts_density,transects/transects_group/unit/unit_notes,transects/transects_group/unit/surface_collection/id_no_zeros,transects/transects_group/unit/surface_collection/surface_collection_status,transects/transects_group/unit/surface_collection/type_collection,transects/transects_group/unit/surface_collection/sc_label_info,transects/transects_group/unit/surface_collection/new_sc_label_info,transects/transects_group/unit/surface_collection/specimens_collected,transects/transects_group/unit/more_unit,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes,unit_cultural_periods,surface_material_type,associated_materials_features
0,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.172620,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),engraving,rock_art
1,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.172620,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),engraving,traces_burning
2,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.172620,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),midden_rubbish_dump,rock_art
3,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.172620,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),midden_rubbish_dump,traces_burning
4,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.172620,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),other,rock_art
5,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.172620,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),other,traces_burning
6,NaN,2,poi_near_transect,-26.1724964 27.9928453 1702.9000244140625 60.0,-26.172496,27.992845,1702.900024,60.000000,NaN,25.0089,30.855556,800.0,255.0000,NS-1-SC-2,NaN,sparse/moderate_between_5%_and_30%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,no,NaN,NaN,NaN,2,transects,1,NaN,NaN,stone_age_(southern_africa),traces_burials,traces_burials
7,NaN,1,not_applicable,-26.1725279 27.99287 1702.9000244140625 19.280000686645508,-26.172528,27.992870,1702.900024,19.280001,NaN,25.8999,30.887800,500.0,10.9658,EW-1-SC-1,NaN,sparse/moderate_between_5%_and_30%,Tfgbh,NaN,yes,systematic,NaN,NaN,NaN,no,NaN,NaN,NaN,3,transects,2,NaN,NaN,middle_stone_age_(southern_africa),Walling_platefom,Walling_platefom

In [43]:
transects_transects_group_unit_ = pd.read_excel('export_data_2.xlsx', sheet_name = 13) #no multiple choice columns; parent table: transects_transects_group_unit_
transects_transects_group_unit_

,transects/transects_group/unit/unit_photo_repeat/unit_photo,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,1652082859565.jpg,NaN,NaN,NaN,1,transects_transects_group_unit,1,NaN,NaN
1,1652082878321.jpg,NaN,NaN,NaN,2,transects_transects_group_unit,1,NaN,NaN
2,1652083131687.jpg,NaN,NaN,NaN,3,transects_transects_group_unit,2,NaN,NaN
3,1652083140962.jpg,NaN,NaN,NaN,4,transects_transects_group_unit,2,NaN,NaN
4,1652083283260.jpg,NaN,NaN,NaN,5,transects_transects_group_unit,3,NaN,NaN
5,1652083295971.jpg,NaN,NaN,NaN,6,transects_transects_group_unit,3,NaN,NaN

In [44]:
transects_transects_group_unit1 = pd.read_excel('export_data_2.xlsx', sheet_name = 14) #no multiple choice columns; parent table: transects_transects_group_unit
transects_transects_group_unit1

Empty DataFrame
Columns: [transects/transects_group/unit/sf_group2/sa_photo_repeat/sa_photo, _id, _uuid, _submission_time, _index, _parent_table_name, _parent_index, _tags, _notes]
Index: []

## Merging section

Merging parent tables to grand-children tables

In [45]:
##joining transects_transects_group_unit_ and  transects_transects_group_unit1 (children) to transects (parent)
transects_unit = transects_transects_group_unit.merge(transects_transects_group_unit_, how= 'left', left_on=['_index'], right_on = ['_parent_index']) \
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) \
        .merge(transects_transects_group_unit1, how= 'left', left_on=['_index'], right_on = ['_parent_index']) \
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) #Lways renaming index and parent index of parent table
transects_unit.head(2)

,transects/transects_group/unit/unit_help,transects/transects_group/unit/units_count,transects/transects_group/unit/unit_type,transects/transects_group/unit/unit_location,transects/transects_group/unit/_unit_location_latitude,transects/transects_group/unit/_unit_location_longitude,transects/transects_group/unit/_unit_location_altitude,transects/transects_group/unit/_unit_location_precision,transects/transects_group/unit/gps_accuracy,transects/transects_group/unit/coor_latitude,transects/transects_group/unit/coor_longitude,transects/transects_group/unit/coor_elevation_unit,transects/transects_group/unit/accuracy,transects/transects_group/unit/unit_id_cal,transects/transects_group/unit/unit_id,transects/transects_group/unit/surface_artefacts_density,transects/transects_group/unit/unit_notes,transects/transects_group/unit/surface_collection/id_no_zeros,transects/transects_group/unit/surface_collection/surface_collection_status,transects/transects_group/unit/surface_collection/type_collection,transects/transects_group/unit/surface_collection/sc_label_info,transects/transects_group/unit/surface_collection/new_sc_label_info,transects/transects_group/unit/surface_collection/specimens_collected,transects/transects_group/unit/more_unit,_id_x,_uuid_x,_submission_time_x,_index,_parent_table_name_x,_parent_index,_tags_x,_notes_x,unit_cultural_periods,surface_material_type,associated_materials_features,transects/transects_group/unit/unit_photo_repeat/unit_photo,_id_y,_uuid_y,_submission_time_y,_index_y,_parent_table_name_y,_parent_index_y,_tags_y,_notes_y,transects/transects_group/unit/sf_group2/sa_photo_repeat/sa_photo,_id,_uuid,_submission_time,_index_y,_parent_table_name,_parent_index_y,_tags,_notes
0,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.17262,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),engraving,rock_art,1652082859565.jpg,NaN,NaN,NaN,1,transects_transects_group_unit,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,unit_on_transect,-26.1726202 27.9928721 1702.9000244140625 20.808000564575195,-26.17262,27.992872,1702.900024,20.808001,NaN,NaN,NaN,NaN,NaN,NS-1-SC-1,NaN,moderate/high_between_50%_and_80%,Kiala,NaN,yes,systematic,NaN,NaN,NaN,yes,NaN,NaN,NaN,1,transects,1,NaN,NaN,stone_age_(southern_africa),engraving,rock_art,1652082878321.jpg,NaN,NaN,NaN,2,transects_transects_group_unit,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
##joining transects_unit (children) to transects (parent)
transect_merge = transects.merge(transects_unit, how= 'left', left_on=['_index'], right_on = ['_parent_index']) \
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) 
# transect_merge.head(20)

C:\Users\A0072743\AppData\Local\Temp\ipykernel_25848\2922153314.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'_tags_y', '_parent_index_y', '_id_y', '_submission_time_y', '_index_y', '_uuid_y', '_parent_table_name_y', '_notes_y'} in the result is deprecated and will raise a MergeError in a future version.
  transect_merge = transects.merge(transects_unit, how= 'left', left_on=['_index'], right_on = ['_parent_index']) \

In [47]:
##joining  threat_type_repeat_potential_th (child) to threat_type_repeat (parent)
threat_merge = threat_type_repeat.merge(threat_type_repeat_potential_th, how= 'left', left_on=['_index'], right_on = ['_parent_index']) \
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) 
threat_merge.head(2)

,threat_type_repeat/potential_threats/threat_type,threat_type_repeat/potential_threats/threat_severity,_id_x,_uuid_x,_submission_time_x,_index,_parent_table_name_x,_parent_index,_tags_x,_notes_x,threat_type_repeat/potential_threats/threats_photo/condition_photo,_id_y,_uuid_y,_submission_time_y,_index_y,_parent_table_name_y,_parent_index_y,_tags_y,_notes_y
0,biodeterioration,medium,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN,1652082492599.jpg,NaN,NaN,NaN,1,threat_type_repeat,1,NaN,NaN
1,biodeterioration,medium,NaN,NaN,NaN,1,anyCuBvPsDaVQx9dX34kKx,1,NaN,NaN,1652082510893.jpg,NaN,NaN,NaN,2,threat_type_repeat,1,NaN,NaN

### Merging child tables to main parent (main)

In [72]:
main_merge = (main.merge(descriptive_type_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index']) 
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'})
        .merge(functions_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) 
        .merge(landowner_repeat_group, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'})
        .merge(natural_feature_photos_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) 
        .merge(site_name_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) 
        .merge(site_sketch_map_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'})
        .merge(threat_merge, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
         .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'}) 
        .merge(transect_merge, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'})\
        .merge(transects_summary_transect_phot, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
        .rename(columns={'_index_x':'_index', '_parent_index_x':'_parent_index'})
             )

C:\Users\A0072743\AppData\Local\Temp\ipykernel_25848\444308241.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'_tags_x', '_parent_table_name_x', '_id_x', '_uuid_x', '_submission_time_x', '_notes_x'} in the result is deprecated and will raise a MergeError in a future version.
  main_merge = (main.merge(descriptive_type_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
C:\Users\A0072743\AppData\Local\Temp\ipykernel_25848\444308241.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'_tags_x', '_parent_table_name_x', '_id_x', '_uuid_x', '_submission_time_x', '_notes_x'} in the result is deprecated and will raise a MergeError in a future version.
  main_merge = (main.merge(descriptive_type_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
C:\Users\A0072743\AppData\Local\Temp\ipykernel_25848\444308241.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'_index_y_x', '_parent_index_y_x'} in the result is deprecated and will raise a MergeError in a future version.
  main_merge = (main.merge(descriptive_type_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])
C:\Users\A0072743\AppData\Local\Temp\ipykernel_25848\444308241.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'_tags_x', '_parent_table_name_x', '_id_x', '_uuid_x', '_submission_time_x', '_notes_x'} in the result is deprecated and will raise a MergeError in a future version.
  main_merge = (main.merge(descriptive_type_repeat, how= 'left', left_on=['_index'], right_on = ['_parent_index'])

In [ ]:
main_merge.tail(2)

## Selecting columns that will go to Arches from the main merge table

In [ ]:
col_name_new = list(col_name.values()) #Getting all the values of our main dictionary
col_name_new = np.array(col_name_new) #Converting them in an array
# col_name_new = (col_name_new, end="")
# type(col_name_new)

In [ ]:
main_merge.rename(columns=col_name, inplace=True)

In [ ]:
main_merge_new = main_merge[col_name_new]
main_merge_new.tail(5)

## Removing the duplicates

In [ ]:
# Remove duplicates:https://stackoverflow.com/questions/56044159/replace-duplicate-set-of-values-with-nan
# duplicated = main_merge_new.duplicated('index')
# main_merge_new.loc[duplicated, col_name_new] = np.NaN
main_merge_new_d = main_merge_new.drop_duplicates()
main_merge_new.shape  # previous shape
main_merge_new_d.shape  # new shape after removing duplicates

In [ ]:
main_merge_new_d.tail(8)

## Replacing values in the main merge table with the correct ones

In [ ]:
df_form.head(5)

In [ ]:
df_form.columns.values

In [ ]:
df_form_sub = df_form[['name', 'label::English (en)']] #subsetting to two columns (name, label) then rename
df_form_sub.rename(columns= {'label::English (en)': 'label'}, inplace=True)

In [ ]:
## # create concept dict
concept_dict = pd.Series(df_form_sub.label.values,index=df_form_sub.name).to_dict()

In [ ]:
# replace values using dict
df_final = main_merge_new_d.applymap(concept_dict.get).fillna(main_merge_new_d) #https://stackoverflow.com/questions/43725799/map-multiple-columns-by-a-single-dictionary-in-pandas

In [ ]:
df_final.tail(3)

## Creating cards (for arches)

In [ ]:
# Cards witll be based on index, associated materials features, surface material type, chronology (The columns will naturally have duplicates)